body {
  font-family: 'Cuprum', sans-serif;
  font-weight: 300; 
  color: #ffffff;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: #f3f7f8;
  padding-bottom: 60px;
}

.header_topline {
  background-color: #293449;
  font-size: 17px;
  line-height: 18px;
  height: 42px;
}

.header_topline_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.search {
  background-color: #293449;
  color: #ffffff;
}

/* для поиска */

.header_topline_logo {
  display: inline-block;
  width: 220px;
  height: 42px;
  background-color: red;
  box-shadow: 0px 5px #b52933;
}

.icon-logo {
  padding-left: 42px;
  padding-top: 12px;
}

.search_wrapper {
  position: relative;
}

.search_wrapper svg{
  position: absolute;
  top: 0px;
  left: -30px;
}

.form-search {
  fill: #6a7180;
}

.search {
	
}

.form-search:focus,
.form-search:hover {
  fill: #ffffff
}

.bookmark_wrapper {
  position: relative;
}

.header_topline_link {
  position: relative;
  padding: 10px;
  padding-left: 30px;
  fill: #6a7180;
}

.bookmark {
  position: absolute;
  right: 80px;
}

.basket { 
  position: absolute;
  right: 75px;
}

.header_topline_order {
  background-color: #63a63e;
  background-size: 42px;
  padding: 12px;
}

.header_topline_link:focus,
.header_topline_link:hover {
  background-color: #212a3a;
  fill: #ffffff;
}

.header_topline_link:active {
  background-color: #161d29;
  color: #999ca1;
  fill: #8b8e94;
}

.header_topline_order:focus,
.header_topline_order:hover {
  background-color: #5fbb2d;
}

.header_topline_order:active {
  background-color: #518534;
  color: #a2be93;
}

.undertopline {
  display: flex;
  align-items: center;
  align-content: space-around;
  width: 960px;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 45px;
}

.header_h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-weight: 200; 
  font-style: italic;
  width: 196px;
  text-align: left; /* как перенести И без br */
  margin-left: 50px;
}

.user-menu {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  position: relative;
}

.icon-exit {
  position: absolute;
  bottom: 45px;
  left: 265px;
}

.icon-user {
  position: absolute;
  top: 12px;
  left: 15px;
}



.header_contacts {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header_contacts_adress {
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  padding-left: 10px;
}

.header_contacts_tel {
  color: #ee3643;
  font-size: 21px;
  line-height: 21px;
  padding: 10px;
  padding-left: 60px;
  padding-right: 49px;
  border: 3px solid white;
  margin-bottom: 10px;
}

.header_contacts_tel::before {
  content: "";
  width: 19px;
  height: 19px;
  position: absolute;
  background-image: url("../img/icon-phone.svg");
  left: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header_user-nav_link {
  list-style: none;
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  background-color: #ffffff;
  background-size: 45px;
  padding: 14px; 
  fill: #c5c5c5;
}

.header_user-nav {
  position: relative;
}

.enter {
  padding-left: 40px;
}

.header_user-nav svg {
  position: absolute;
  left: 12px;
  top: 1px;
}



.header_user-nav_link:focus,
.header_user-nav_link:hover {
  color: #ee3643; 
  fill: #32425c;
}

.header_user-nav_link:active {
  color: #b2b2b2;
  fill: #c5c5c5;
}

.header_nav {
  background-color: #32425c;
  font-size: 17px;
  line-height: 17px;
  text-transform: capitalize;
  margin: auto;
  width: 960px;
  height: 55px;
  margin: 0 auto;
  display: flex;
}

.header_nav_items {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  margin: auto;
}

.header_nav_link {
  display: flex;
  align-items: center;
  align-content: center;
  margin: auto;
  padding: 18px;
}

.header_nav_link:focus,
.header_nav_link:hover {
  background-color: #293449;
}

.header_nav_link:active {
  background-color: #1d2739;
  color: #8e939c; 
}

.about-drill {
  background-color: #f2f6f8;
}

.about-drill_wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  flex-direction: column;
  padding-top: 65px;
  padding-bottom: 75px;
}

.about-company_h2,
.about-drill_h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000; 
}

.about-drill_h2 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.about-company_text,
.about-drill_text {
  font-size: 13px;
  line-height: 24px;
  color: #000000; 
}

.about-drill_text {
  font-family: 'PT Sans', sans-serif;
}

.about-company_partners {
  font-size: 18px;
  line-height: 20px;
  color: #000000; 
  margin-bottom: 40px;
}

.about-company_partners li {
  margin-bottom: 13px;
  list-style-type: none;
}

.about-company_link {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 30px; 
  padding-left: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 40px;         /* отступы доделать */
}

.about-company_link:focus,
.about-company_link:hover {
  background-color: #ca2c37;
}

.about-company_link:active {
  background-color: #ba2732
}

.footer_nav {
  background-color: #32425c;
  font-size: 18px;
  line-height: 24px;
}

.footer_nav_wrapper {
 display: flex;
 width: 960px;
 margin: 0 auto;
}

.goldtext_wrapper {
  display: flex;
  justify-content: space-between;
  width: 525px;
  margin-left: auto;
}

.footer_nav_location_wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
}

.conteiner_column {
  flex-direction: column;
}

.footer_down_cocial {
  list-style: none;
  position: relative;
  display: flex;
  width: 130px;
  justify-content: space-between;
  align-items: center;
}

.footer_down_cocial_link {
  background-color: #212a3a;
  border-radius: 50%;
  display: flex;
  height: 48px;
  width: 48px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.footer_down {
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
}

.footer_down_wrapper {
  display: flex;
  width: 960px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.feedback {
  display: flex;
  flex-direction: column;
}

.goldtext {
  color: #ffd180;
  list-style-type: none;
}

.block {
  display: flex;
  width: 960px;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-between; 
  margin-bottom: 53px;
}

.blocks_items_wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%; 
  padding-left: 0px;
  margin-bottom: 20px;
}

.blocks_items_wrapper2 {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  width: 100%;
}













.right_column {
  display: flex;
  justify-content: space-between;
  flex-direction: column; 
}

.blocks_items_goods {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 23px;
  margin-top: 26px;
  display: inline-block;
  margin-bottom: 15px;
}

.yellow {
  background-color: #ffbf47;
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column; 
  position: relative;
}

.icon-1 {
  position: absolute;
  left: 210px;
  top: 30px;
}

.blue {
  background-color: #3bbce3;
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column; 
  position: relative;
  margin-right: 17px;
}

.icon-2 {
  position: absolute;
  left: 200px;
  top: 30px;
}

.purple {
  background-color: #dc91d8; 
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column; 
  position: relative;
}

.icon-3 {
  position: absolute;
  left: 200px;
  top: 30px;
}

.green {
  background-color: #8ed78f;
  width: 300px;
  height: 123px;
  display: flex;
  flex-direction: column; 
  position: relative;
  margin-bottom: 20px;
}

.icon-4 {
  position: absolute;
  left: 200px;
  top: 30px;
}

.icon-5 {
  position: absolute;
  left: 200px;
  top: 30px;
}

.block-link {
  font-size: 14px;
  line-height: 18px;
  background-color: rgba( 0,0,0 , 0.1);
  text-transform: uppercase;
  text-align: center;
  margin-left: 25px;
  margin-right: 140px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.block-link:focus,
.block-link:hover {
  background-color: rgba( 0,0,0 , 0.3)
}

.block-link:active {
  background-color: rgba( 0,0,0 , 0.6)
}

/*слайдер*/

.slider_h3 {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  font-weight: 700;
}

.slider_text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.product_items {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 0px;
}

.product_items_goods {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 330px;
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.product_items_goods2 {
  position: relative;
  display: inline-block;
  width: 218px;
  height: 330px;
  margin-bottom: 20px;
  margin-right: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/new-flag.svg") no-repeat 0 0;
}


.catalog-link {
  font-size: 14px;
  line-height: 18px;
  background-color: #ee3643;
  text-transform: uppercase;
}

.brends {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-bottom: 80px;
}

.brends li {
  display: flex;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  margin-top: 20px;
  margin-bottom: 
}

.brends_link {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.brends_link_wrapper:focus,
.brends_link_wrapper:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.brends_link_wrapper:active {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  opacity: 0.3;
}

.about-company_wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  justify-content: space-around;
  margin-top: 80px;
  margin-bottom: 80px;
}

.about-company {
  max-width: 520px; 
}

.about-company_contacts {
  max-width: 300px;
}

.footer_nav_item {
  list-style-type: none;
  display: flex;
  width: 545px;
  margin-left: auto;
  justify-content: space-between;
}


.footer_nav_items:focus,
.footer_nav_items:hover {
  text-decoration: underline;
}

.footer_nav_items:active {
  color: #929caa;
  text-decoration: none;  
}

.footer_nav_items2:focus,
.footer_nav_items2:hover {
  text-decoration: underline;
}

.footer_nav_items2:active {
  color: #998a6e;
  text-decoration: none;  
}

.academy:focus,
.academy:hover {
  text-decoration: underline;
}

.academy:active {
  color: #ee3643;
  text-decoration: none; 
}


.popular {
  background-color: #f9f5f0;
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
  justify-content: space-around;
}

.popular_h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.popular_link {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
  padding: 12px;
  padding-right: 50px; 
  padding-left: 50px;
  border-radius: 5px;
}

.popular_link:focus, 
.popular_link:hover {
  background-color: #ca2c37;
}

.popular_link:active {
  background-color: #ba2732;
}

.user-link {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  padding-left: 15px;
}

.icon-shape {
  position: absolute;
  top: 64px;
  left: 95px;
}

.user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000000; 
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 70px;
  padding-bottom: 12px;
  padding-top: 12px;
  white-space: nowrap;
  margin-bottom: 12px;
  fill: #c5c5c5;
}



.user-name:focus,
.user-name:hover {
  fill: #32425c;
}

.user-name:active {
  color: #b2b2b2;
  fill: #c5c5c5;
}

.user-link:focus,
.user-link:hover {
  color: #ee3643;
} 

.user-link:active {
  color: #b7bfc8;
}


.catalog_nav_link {
  font-size: 13px;
  line-height: 18px;
  color: #000000; 
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  list-style-type: none;
} 

.catalog_nav_wrapper {
  display: flex;
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding-top: 23px;
  padding-left: 0;
}

.catalog_nav {
  display: flex;
  height: 100%;
  width: 360px;
  justify-content: space-between;
  margin-left: 0px;
  padding-left: 0px;
  position: relative;
}

.catalog_nav li {
  list-style-type: none;
  padding-left: 0px;
}

.icon-home {
  position: absolute;
  top: 3px;
}

.icon-right {
  position: absolute;
  top: 3px;
  left: 28px;
}

.icon-right2 {
  position: absolute;
  top: 3px;
  left: 118px;
}

.icon-right3 {
  position: absolute;
  top: 3px;
  left: 245px;
}

.main_hammerdrill_wrapper {
  display: flex;
  width: 960px;
  height: 90px;
  margin: 0 auto;
  background-color: #f2f6f8; 
  margin-bottom: 20px;
}

.filter_conteiner {
  display: flex;
  width: 700px;
  flex-direction: column;
  margin-left: 40px;
}

.catalog-link:focus,
.catalog-link:hover {
  background-color: #ca2c37;
}

.catalog-link:active {
  background-color: #ba2732;
}

.main_hammerdrill {
  font-size: 30px;
  line-height: 30px;
  color: #32425c; 
  text-transform: uppercase;
  padding-left: 30px;
}

.main_drill_wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  } /*общий */

.sorting {
  display: flex;
  width: 700px;
  height: 38px;
  background-color: #f7f3ec;
  justify-content: space-around;
  align-items: center;
}

.filter_wrapper {
  display: flex;
  flex-direction: column;
}

.main_checkbox-product li {
  list-style-type: none;
  padding: 0;
}

.filterh3 {
  display: flex;
  height: 38px;
  align-items: center;
  margin-top: 0px;
  padding-left: 10px;
}

.arrow {
  display: flex;
  justify-content: space-between; /* нет отступов */  
  list-style-type: none;
  position: relative;
}

.icon-up {
  position: absolute;
  right: 25px;
}

.icon-up_link {
  fill: #c5c5c5;
}

.icon-up_link:focus,
.icon-up_link:hover {
  fill: #231f20;
}

.icon-up_link:active {
  fill: #ee3643;
}

.icon-down_link {
  fill: #c5c5c5;
}

.icon-down_link:focus,
.icon-down_link:hover {
  fill: #231f20;
}

.icon-down_link:active {
  fill: #ee3643;
}

.icon-down {
  position: absolute;
}

.filter-main {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  list-style-type: none;
  width: 355px;
  height: 100%;
}

.drill-items_wrapper {
  display: flex;
  width: 700px;
  margin: auto;
  flex-wrap: wrap;
  margin-top: 20px;
}

.drill-items {
  padding: 0;
}

.filter {
  font-size: 13px;
  line-height: 18px;
  color: #000000; 
  text-transform: uppercase;
  background-color: #f7f3ec; 
  font-family: 'PT Sans', sans-serif;
}

.dash {
  color: #cacaca;
  border-bottom: dashed 1px red;
}

.dash:focus,
.dash:hover {
  color: #000000;
  border-bottom: solid 1px red;
}

.dash:active {
  color: #ee3643;
  border-bottom: none;
}

.checkbox-product_radio {
  position: relative;
  border: none;
  margin-left: 0px; 
  padding-left: 0px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  }

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.checkbox-product {
  border: none;
  position: relative;
  margin-bottom: 20px;
}

.main_checkbox-name {
  font-size: 17px;
  line-height: 30px;
  color: #000000; 
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  padding-top: 10px;
  }

.line-before:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 270px;
}

.line-before2:before {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: #e5e5e5;
  bottom: 154px;
}

.range-filter {
  width: 220px;
  margin-top: 20px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 40px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  height: 41px;
  background-color: #f7f3ec;
  border-radius: 5px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.max-price {
  text-align: right;
}

.price-controls {
  position: relative;
  font-size: 0;
}

.max-price:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 1px;
  background-color: #444444;
  top: 38px;
  right: 105px;

}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.checkbox-product {
  margin-left: 0px;
  padding-left: 0px;
}

.main_checkbox-product {
  font-size: 15px;
  line-height: 20px;
  color: #000000; 
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  margin-top: -10px;
}

.filter-option {
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 2px solid #c5c5c5;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: -5px;
  left: -35px;
  width: 27px;
  height: 23px;
  
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-controls input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
}

.drill-items_drill-name {
  font-size: 18px;
  line-height: 20px;
  color: #000000; 
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.buy,
.inbookmark {
  color: ;
} 

.buy:focus,
.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}

.inbookmark:focus,
.inbookmark:hover {
  border: 3px solid #32425c;
}

.inbookmark:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
}

.drill-items_oldprice {
  font-size: 17px;
  line-height: 18px;
  color: #999999; 
  text-decoration: line-through;
  font-weight: 700;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.drill-items_price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 11px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.drill-items_price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.bosch3 {
  margin-right: 20px;
}

.buy,
.inbookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.inbookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product_items_goods:focus,
.product_items_goods:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product_items_goods .actions {
  display: none;
}

.product_items_goods:hover .actions {
  display: block;
}

.product_items_goods:nth-child(3n) {
  margin-right: 0; 
}

.service_first {
  width: 960px;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}


.service_wrapper {
  display: flex;
  width: 960px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.service_items_slaider {
  list-style-type: none;
  position: relative;
}


.service_items {
  list-style: none;
  padding: 0; 
  margin-right: 70px;
}

.service_items_h3 {
  font-size: 21px;
  line-height: 30px;
  color: #ffffff; 
  background-color: #32425c;
  font-weight: 700;
  display: inline-block;
  box-sizing: border-box;
  width: 240px;
  height: 60px;
  padding-left: 22px;
  padding-top: 15px;
  border: 1px solid #293449;
}

.slide1 {
  position: absolute;
  display: inline-block;
  min-width: 300px;
}

.slide2 {
  position: absolute;
  display: inline-block;
  width: 380px;
}

.slide3 {
  position: absolute;
  display: inline-block;
  margin-bottom: 50px;
  min-width: 300px;
}

.slide1,
.slide2,
.slide3 {
  display: none;
}

#service-1:checked ~ .service_items_slaider #slide-1,
#service-1:checked ~ .service_items_slaider #slide-2,
#service-1:checked ~ .service_items_slaider #slide-3 {
  display: block; 
}

.slide1:after {
  content: "";
  position: absolute;
  background-image: url(../img/truck.svg);
  width: 468px;
  height: 261px;
  top: 30px;
  left: 80px;
}

.slide2:after {
  content: "";
  position: absolute;
  background-image: url(../img/garant.svg);
  width: 468px;
  height: 261px;
  top: 30px;
  left: 170px;
}

.slide3:after {
  content: "";
  position: absolute;
  background-image: url(../img/credit.svg);
  width: 468px;
  height: 261px;
  top: 30px;
  left: 140px;
}


.service_items_text {
  font-size: 13px;
  line-height: 24px;
  color: #000000; 
  font-family: 'PT Sans', sans-serif;
}



.service_items_link {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff; 
  background-color: #ff5357;
  padding: 12px;
  padding-right: 50px; 
  padding-left: 50px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.service_items_title {
  font-size: 36px;
  line-height: 24px;
  color: #32425c; 
  font-weight: 500;
}

.service_h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000; 
  font-weight: 500;
  padding-top: 50px;
}

.service {
  background-color: #f5f8fa;
}

.service_text {
  font-size: 13px;
  line-height: 24px;
  color: #000000; 
  font-family: 'PT Sans', sans-serif;
}

.service_items_h3:focus,
.service_items_h3:hover {
  background-color: #293449;
}

.service_items_h3:active {
  background-color: #ffffff;
  color: #32425c;
}

.service_items_link:focus,
.service_items_link:hover {
  background-color: #ca2c37;
}

.service_items_link:active {
  background-color: #ba2732
}

.number-page {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 80px;
  margin-right: auto;
  padding-left: 0px;
  list-style-type: none;
}

.number-page_link {
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
   border: 1px solid #e5e5e5;
   padding: 20px; 
   border-radius: 5px;
}

.first-page {
  background-color: #ee3643;
}

.number-page_link:focus,
.number-page_link:hover {
  border: 1px solid #bdc6ca;
}

.number-page_link:active {
  border: 1px solid #ee3643;
}

.button-filter {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  width: 140px;
  height: 40px;
}

.button-filter:focus,
.button-filter:hover {
  border: 1px solid #bdc6ca;
}

.button-filter:active {
  border: 1px solid #ee3643;
}

.forma-order {
  width: 620px;
  height: 275px;
  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  display: flex;
  flex-direction: column;
}

.forma-order_edd {
  height: 170px;
  position: relative;
  align-items: center;
}

.forma-order_button {
  position: relative;
  left: 580px;
  border: none;
  background-color: transparent;
}

.forma-writeus_exit {
  position: relative;
  left: 580px;
  border: none;
  background-color: transparent;
}

.forma-order_text:before {
  content: "";
  width: 66px;
  height: 66px;
  position: absolute;
  background-image: url("../img/icon-mark.svg");
  left: 45px;
  top: 42px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.forma-order_text {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold; 
  color: #000000;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.forma-order_link1 {
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}

.forma-order_link1:focus,
.forma-order_link1:hover {
  background-color: #ca2c37;
} 

.forma-order_link1:active {
  background-color: #ba2732;
}


.forma-order_link2 {
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  border-radius: 5px;
}

.forma-order_text_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 112px;
  background-color: #f1f1f1;
}

.forma-order_text_wrapper div {
  margin-top: auto;
  margin-bottom: auto;
  
}

/* форма */

.forma-writeus {
  display: flex;
  width: 620px;
  height: 430px;
  border-top: 7px solid #ff5358;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: relative;
}

.forma-writeus_text {
  font-size: 18px;
  line-height: 18px;
  color: #000000;
  display: block;
  margin-bottom: 10px;
}

.forma-writeus_row {
  display: flex;
  width: 460px;
  height: 315px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
}
  
.forma-writeus_button_wrapper {
  display: flex;
  width: 100%;
  height: 115px;
  background-color: #f4f4f4;
  align-items: center;
}

.letter_size {
  width: 450px;
  height: 115px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
  color: #a9a9a9;
  padding-left: 10px;
}

.name_size {
  width: 210px;
  height: 37px;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  outline: none;
  padding-left: 10px;
}

.forma-writeus_button {
  width: 460px;
  height: 40px;
  margin: 0 auto;
  background-color: #ff5358;
  border-radius: 5px;
  border: none;
}

.product_items .margin {
  margin-right: 20px;
}

.product_items .margin0 {
  margin-right: 0px;
}

.forma-writeus_button:focus,
.forma-writeus_button:hover {
  background-color: #ca2c37;
}

.forma-writeus_button:active {
  background-color: #ba2732;
}

.letter_size:focus,
.letter_size:hover {
  border: 2px solid #b5b5b5;
}

.letter_size:active {
  border: 2px solid #ee3643;
}

.name_size:focus,
.name_size:hover {
  border: 2px solid #b5b5b5;
}

.name_size:active {
  border: 2px solid #ee3643;
}

.visually-hidden {
visibility: hidden;
}

/* СЛАЙДЕР */ 

.slider p,
.slider figcaption,
.slider h2,
.slider figure {
  margin: 0;
  padding: 0;
}

.slider {
  position: relative;
  width: 620px;
  height: 266px;
  margin-top: -18px;
}

.slider-item {
  position: absolute;
  display: none;
  margin-bottom: 10px;
}

.slider-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-image {
  position: relative;
  width: 620px;
  height: 266px;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider-image figcaption {
  position: absolute;
  top: 24px;
  left: 24px;
}

.slider p {
  color: #ffffff;
  line-height: 24px;
  font-size: 18px;
}

.slider .btn {
  position: absolute;
  box-sizing: border-box;
  bottom: 22px;
  left: 26px;
  min-width: 195px;

  padding: 10px 5px;
}

.slider-control label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;

  vertical-align: top;

  background-color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.slider-control {
  position: absolute;
  top: 220px;
  left: 295px;
}

#drill:checked ~ #slide-1,
#hammer-drill:checked ~ #slide-2 {
  display: block;
}

#drill:checked ~ .slider-control label[for="drill"],
#hammer-drill:checked ~ .slider-control label[for="hammer-drill"] {
  background-color: #ee3643;
}

.slider-arrows label {
  display: inline-block;
  box-sizing: border-box;
  width: 30px;
  height: 30px;

  vertical-align: middle;

  border-top: solid 3px #ffffff;
  border-left: solid 3px #ffffff;

  cursor: pointer;
}

.slider-arrows label:first-child {
  position: absolute;
  top: 118px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.slider-arrows label:last-child {
  position: absolute;
  top: 118px;
  right: 28px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.btn {
  display: inline-block;
  padding: 10px 55px;

  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;

  border: none;
  background-color: #ee3643;
  border-radius: 2px;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn:active {
  background-color: #ba2732;
}






